body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

nav {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement interne */
    height: 150px;
    width: 100%;
}

nav ul {
    list-style: none; /* Supprimez les puces de la liste */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Affiche les éléments de la liste en ligne */
    margin-right: 20px; /* Espacement horizontal entre les éléments */
}

nav a {
    text-decoration: none; /* Supprime le soulignement du lien */
    color: white; /* Couleur du lien */
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s; /* Transition de couleur au survol */
}

nav a:hover {
    color: #ff6600; /* Couleur du lien au survol */
}


/* Ajoutez ces styles à votre balise <style> dans le <head> de votre page HTML */



.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px;
}

table{
    text-align: center;
}
.form {
    display: grid;
    gap: 15px;
    padding: 10px 10px;
}

.row {
    display: grid;
    gap: 5px;
}

.label {
    font-weight: bold;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}